<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Registration sucess</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{city}}</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>{{phonenumber}}</td>
        </tr>
    </table>
</body>
</html>